@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  background: #fff;
  floar: left;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}

.board-row {
  display: flex;
}

/* .total-board {
  margin: 10px;
} */

body {
  margin: 10px;
}
